<p class="cart-attribute__field">
 <input type="hidden" name="attributes[Free amber Device]" value="No">
  <input id="freeDevice" type="checkbox" name="attributes[Free amber Device]" value="Yes"{% if cart.attributes["Free amber Device"] == "Yes" %} checked{% endif %}>
  <label>Add FREE <a href="https://vapewh.com/products/amber-aio-disposable?_pos=2&_sid=28c09ff2e&_ss=r"> <img src=" https://cdn.shopify.com/s/files/1/0743/6343/files/amber_logo_shopify1.png?v=1621520084" alt="" style="float: none;max-width:11%;" /></a> Device</label>
 <br> Promotion not valid in these states: AK, AZ, AR, CO, DE, ID, IA, MS, MT, RI, UT, MI, WA, VT
</p>
