<!-- /templates/page.liquid -->
<section class="page page-top">
  <div class="wrapper">
    <header class="content-util">
    {% include 'breadcrumb' %}
    {% include 'social-icons' %}
    </header>
    <header class="page-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>
</section>

<section class="page">
  <div class="wrapper">
    <div class="content-container narrow rte">
      <div class="staff-container">
<div class="staff-flex">
<div class="staff-flex-item pic">
<img class="flex-pic" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Kaylee_Oliver.jpg?v=1679076104">
<p class="flex-pic-label">Kaylee Oliver - Customer Service</p>
</div>
<div class="staff-flex-item text">
<p>My name is Kaylee, and I work in 
Customer Service for White Horse Vapor. I love being able to communicate with and 
help all of our customers on a daily basis! It is very rewarding to hear 
the many success stories of our customers who have quit smoking cigarettes and switched to vaping as a healthier alternative.
</p>
<p>
I used to be a frequent hookah smoker but never knew how dangerous for my health smoking a hookah would be. I learned that one hour of hookah smoking was equivalent to smoking 
400 cigarettes! At that moment, I knew  I must find an alternative to my smoking cravings that was less harmful to my health. I decided to switch to vaping as soon as I was hired here! 
</p>
<p>
Since working at White Horse Vapor, I feel better about my decision. Subsequently, I have tried numerous devices and flavors and loved them all. I was super excited when 
we decided to offer the new Cuttwood disposables! These sub-ohm devices have a great flavor and last a long time! My favorite flavor is "Bird Brains Ice.” 
As soon as I tried this flavor, I was instantly reminded of my childhood. This flavor is similar to that very popular 90s-2000s brand of fruity cereal that I enjoyed as a 
kid! I think anyone who tries this vape will remember this nostalgic flavor and enjoy not only the taste but the memories associated with it. This flavor is unforgettable! 10/10.
</p><br><a class="default-cart-button__button customStaff" href="/products/cutwood-3000-puff?variant=40321575190593">SHOP NOW</a>
</div>
      </div>
      </div>
      
<div class="staff-container">
<div class="staff-flex">
<div class="staff-flex-item pic">
<img class="flex-pic" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Allison_Lichwa.jpg?v=1679651420">
<p class="flex-pic-label">Allison Lichwa - Marketing</p>
</div>
<div class="staff-flex-item text">
<p>Hi everyone! My name is Allison, and I currently work in the marketing department at White Horse Vapor. I love my job because of the people and fun atmosphere. Everyone I work with is incredibly nice and always willing to lend a helping hand.</p>
<p>Outside work, I live in sunny South Florida with my French bulldog, Fran. I have a deep passion for traveling and exploring new places, and I'm always looking for my next adventure. </p>
<p>I enjoy vaping in my downtime, and my go-to vape is the Kado Bar 5000. My favorite flavor within this brand is the white gummy bear. I love the sweet fruity taste, which makes me feel like I'm on a tropical vacation. Plus, the device is the perfect size to fit comfortably in the palm of my hand.</p>
<br> <a class="default-cart-button__button customStaff" href="/products/kado-bar-5000-puff-disposable?variant=40321586266177">SHOP NOW</a>
</div>
</div> 
<div class="staff-container">
<div class="staff-flex">
<div class="staff-flex-item pic">
<img class="flex-pic" src="https://cdn.shopify.com/s/files/1/0743/6343/files/UpdatedPng.jpg?v=1667821385">
<p class="flex-pic-label">Sarina Tom - Retail Manager</p>
</div>
<div class="staff-flex-item text">
<p class="big-quote">"#1 Esco's 2500 White Gummy, Blue Gummy, and Gummy Bear-  I am a huge fan of candies especially gummy bears! So when we got these flavors in, I wanted to try them immediately. The flavors were spot on for me, and the coolness it has on the exhale really helps balance the sweetness. The device is small enough for me to fit in my back pocket so I can easily access my vape too."</p>
<div class="smaller-quote-flex desktop-only">
<div class="smaller-quote-item">
<p class="big-letter">I</p>
</div>
<div class="smaller-quote-item">have been with White Horse Vapor for 8 yrs and I love my job! I am a people person <span class="desktop-only">
and very outgoing! I truly enjoy helping 
  customers switch from 
</span></div></div><p class="desktop-only">dangerous cigarette smoking to vaping! Seeing White Horse Vapor grow through all these years and being an integral 
  part of that growth has been rewarding in many ways. When I am not working, I enjoy spending 
  time with my family and exploring what Rhode Island has to offer including the beach, hiking trails, vineyards and shopping!</p>
 <p class="mobile-only">and very outgoing! I truly enjoy helping 
  customers switch from dangerous cigarette smoking to vaping! Seeing White Horse Vapor grow through all these years and being an integral 
  part of that growth has been rewarding in many ways. When I am not working, I enjoy spending 
  time with my family and exploring what Rhode Island has to offer including the beach, hiking trails, vineyards and shopping!</p>
<br> <a class="default-cart-button__button customStaff" href="/products/esco-bars-2500-puff-disposables?variant=39649438892097">SHOP NOW</a>
</div>
</div>
</div>
</div>
</div>
    </div>
  </div>
</section>

<style>
.smaller-quote-item ul {
  font-size:1.125em;
}
  
</style>
