<style>
    .banner-420 {
    background:url('https://cdn.shopify.com/s/files/1/0743/6343/files/banner_image.png?v=1683053945');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    }
    .fulfillment-bg {
    background:url('https://cdn.shopify.com/s/files/1/0743/6343/files/Warehouse11-Background-min.jpg?v=1683126033');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}
.whitebg-container {
background-color:white;
width:100%;
position:relative;
}
.inner-gradient-flex {
max-width:85%;
display:block;
margin:0 auto;}
.team-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;}
.gradient-bg-sun {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    flex-direction: column;
    text-align: center;
    font-size: 150%;
}
  .gradient-bg-sun {
    background:url('https://cdn.shopify.com/s/files/1/0743/6343/files/gradientbackground.png?v=1683125156');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
    .blue-circle {
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 11%;
        transform: translate(-50%, 0%);
        max-height: 100px;
    }
    .product-name-sun {
    margin-bottom:5px;
    line-height:normal;
    }
    .product-item-flex  {
    position:relative;}
    .blue-bar p {
    margin-bottom:0;}
    .blue-bar {
        letter-spacing: normal;
        color: white;
        background-color: #6bc9f4;
        font-weight: bold;
        text-align: center;
        position: relative;
    }
    .sunfest-atc {
        color: white;
    background-color: #6bc9f4;
    border: none;
    padding: 5px 30px;
    border-radius: 20px;}
    .sunfest-collection-flex {
        position: relative;
        padding:2em 0;
        flex-wrap:wrap;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    background-color:white;}
    .product-item-flex {
    text-align:center;
    font-size:1.5em;}
    .page {
    padding:0;
    }
    body:not(.template-index) main.main-content {
    margin-top:0;
    }
    .flex-420 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-420.border-top img {
    margin-top:2em;
    }
    .item-420.two-img img {
    max-height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    }
    .background-420 {
    background:url('{{'windowclingmockup-min.png' | asset_url}}');
    position:relative;
    }
    .inner-white-box {
    font-size:150%;
    }
    .inner-white-box h2 {
    color:#707070;
    font-weight:bold;
    }
    .inner-white-box h3 {
    color:#7a7a7a;
    font-weight:normal;
    line-height:normal;
    margin-bottom:0;
    font-family:arial;
    }
    .black-info {
    background-color:black;
    width:100%;
    color:white;
    text-align:center;
    }
    .black-info p {
    padding:10px 0;
    }
    .inner-white-box hr {
    color:black;
    background-color:black;
    border:none;
    height:2px;
    }
    .cuttwood-bg-420 {
    background:url("{{'hi_res-aa-White Horse Vapor_r1_01E_9072-min.png' | asset_url}}");
    position:relative;
    }
    .cuttwood-bg-420 a {
        border: 1px solid black;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    /* mobile styles */
    @media screen and (max-width:768px) {
        .flex-420 {
        flex-wrap:wrap;
        padding-top:2em;
        padding-bottom:2em;
        }
        .team-flex {
         flex-wrap:wrap;
        }
        .inner-gradient-flex {
        padding:2em 0;
        width:86%;
        }
        .fulfillment-bg {
         min-height:300px;
         width:100%;
         background-position:left;
        }
        .blue-bar {
        font-size:1.75em;
        }
        .product-item-flex {
        width:50%;
        margin-bottom:2em;
        }
        .variety {
        padding-bottom:3em;
        }
        .splat {
            position: absolute;
            z-index: 0;
            width: 152%;
            max-width: unset;
            left: -22%;
            top: -42%;
        }
        .prod-img {
        position:relative;
        height:150px;
        width:auto;
        }
        .banner-420 {
        max-height:60vh;}
        .image-holder-sunfest {
         width:70%;
         position:relative;
         margin-left:auto;
         margin-right:auto;
        }
        .image-holder-sunfest img {
        display:block;
        }
        .joinvape {
            margin-left:auto;
            margin-right:auto;
            width:70%;
            display:block;
            padding-top:2em;
            margin-bottom:.5em;
            
        }
        .wave {
        max-width:70px;
        margin-top:1em;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:2em;
        }
        .cuttwood-logo {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: -2em;
            z-index: 5;
            position: relative;
        }
        .background-420 {
            background-repeat: no-repeat;
            position: relative;
            min-height: 300px;
            background-size: cover;
            background-position:center;
        }
        .desktop-only {
        display:none;
        }
        .item-420 img {
        max-width:80%;
        margin-left:auto;
        margin-right:auto;
        display:block;
        }
        .item-420.border-top img {
            border-top: 2px solid white;
            padding-top: 1em;
        }
        .inner-white-box {
            max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        margin-top:1em;
        margin-bottom: 1em;
        border: 2px solid #707070;
        }
        .black-info p {
        max-width:85%;
        margin-left:auto;
        margin-right:auto;
        padding:1em 0;
        }
        .cuttwood-bg-420 {
            min-height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom:2em;
        }
        .cuttwood-bg-420 a {
         bottom:0% !important;   
        }
    }
    /* desktop styles */
    @media screen and (min-width:769px) {
    .item-420 {
    width:50%
    }
    .fulfillment-bg, .gradient-bg-sun {
    height:400px;
    width:50%;
    }
    .banner-420 {
        min-height:78vh;
    }
    .product-item-flex {
    width:24%;
margin-bottom:2em;}
    .product-item-flex .prod-img {
    position:relative;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    }
    .blue-bar {
        font-size: 2.5em;
    }
    .sunfest-content-desktop {
        width: 100%;
        margin-right: auto;
        display: block;
    }
    .wave {
    max-width:25%;
    margin-top:1em;
    margin-bottom:2em;
    margin-left:auto;
    margin-right:auto;
    }
    .joinvape {
        max-width:70%;

        margin-bottom:1em;
        margin-left:auto;
        margin-right:auto;
    }
    .image-holder-sunfest {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 5%;
        height: 100%;
        transform: translate(5%, -50%);
        max-width:39%;
    }
    .splat {
        position: absolute;
        top: 44%;
        left: 25%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    .inner-white-box {
    font-size:175% !important;
    
    }
    .cuttwood-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .mobile-only {
    display:none;
    }
    .item-420.border-top {
        border-top:3px solid white;
        }
    .cuttwood-bg-420 { 
        background-size: cover;
        min-height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .inner-white-box {
        background: rgba(255,255,255, 0.9);
        max-width: fit-content;
        padding: 30px 50px;
        position: absolute;
        top: 15%;
        left: 15%;
    }
    .background-420 {
    min-height:800px;
    width:100%;
    background-position:center;
    background-size:cover;
    }
    .flex-420 {
    padding:2em;
    gap:3em;
    }
    .item-420 img {
    max-width:100%;
    }
    }
    </style>
    
    <section class="page">
    <div class="banner-420">
        <img class="splat" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Paint_Splatter_-_Small_535befd7-97dc-494e-a7d6-731870abea13.png?v=1683055981">
        <div class="image-holder-sunfest">
        <img class="sunfest-content-desktop joinvape" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Join_vapeWH_at.png?v=1683053342">
        <img class="sunfest-content-desktop" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Sunfest_Logo.png?v=1683053345">
        <img class="sunfest-content-desktop" src="https://cdn.shopify.com/s/files/1/0743/6343/files/May_5-7_2023.png?v=1683053347">
        <img class="sunfest-content-desktop wave" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Group_8.png?v=1683102329">
        <img class="sunfest-content-desktop variety" src="https://cdn.shopify.com/s/files/1/0743/6343/files/We_ll_have_a_variety_of_vapes_on_site_for_purchase.png?v=1683102327">
        </div>
    </div>
    <div class="blue-bar"><p>FESTIVAL PRODUCT LINEUP</p></div>
    <div class="whitebg-container">
    <div class="sunfest-collection-flex wrapper">
        <div class="product-item-flex">
        <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Cuttwood_Tobacco_Trail.jpg?v=1683124299" alt="Cuttwood Tobacco Trail">
        <p class="product-name-sun">Cuttwood<br> Tobacco Trail</p>
        <p class="product-price-sun">$10</p>
       
        </div>
        <div class="product-item-flex">
            <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Cuttwood_Unicorn_Milk.jpg?v=1683124299" alt="Cuttwood Unicorn Milk">
            <p class="product-name-sun">Cuttwood<br> Unicorn Milk</p>
            <p class="product-price-sun">$10</p>
            
            </div>
            <div class="product-item-flex">
             
                <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Cuttwood_Spearmint_3c8487d7-5df8-4149-9839-d37fa76ec468.jpg?v=1683124299" alt="Cuttwood Spearmint Ice">
                <p class="product-name-sun">Cuttwood<br> Spearmint Ice</p>
                <p class="product-price-sun">$10</p>
                
                </div>
                <div class="product-item-flex">
                 
                    <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Elf_Bar_Blue_Razz_Ice.jpg?v=1683124299" alt="Elf Bar BC5000 Blue Razz Ice">
                    <p class="product-name-sun">Elf Bar BC5000<br> Blue Razz Ice</p>
                    <p class="product-price-sun">$15</p>
                    
                    </div>
                    <div class="product-item-flex">
                      
                        <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Elf_Bar_Watermelon_Bubble_Gum.jpg?v=1683124299" alt="Elf Bar BC5000 Watermelon Bubble Gum">
                        <p class="product-name-sun">Elf Bar BC5000<br>Watermelon Bubble Gum</p>
                        <p class="product-price-sun">$15</p>
                        
                        </div>
                        <div class="product-item-flex">
                            
                            <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Elf_Bar_Strawberry_Pina_Colada.jpg?v=1683124299" alt="Elf Bar BC5000 Strawberry Pina Colada">
                            <p class="product-name-sun">Elf Bar BC5000<br> Strawberry Pina Colada</p>
                            <p class="product-price-sun">$15</p>
                            
                            </div>
                            <div class="product-item-flex">
                                
                                <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Elf_Bar_Beach_Day.jpg?v=1683124299" alt="Elf Bar BC5000 Beach Day">
                                <p class="product-name-sun">Elf Bar BC5000<br>Beach Day</p>
                                <p class="product-price-sun">$15</p>
                                
                                </div>
                                <div class="product-item-flex">
                                    
                                    <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Elf_Bar_Sunset.jpg?v=1683124299" alt="Elf Bar BC5000 Sunset">
                                    <p class="product-name-sun">Elf Bar BC5000<br> Sunset</p>
                                    <p class="product-price-sun">$15</p>
                                    
                                    </div>
                                    
                                    <div class="product-item-flex">
                                        
                                        <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Lost_Mary_Blue_Cotton_Candy.jpg?v=1683124299" alt="Lost Mary Blue Cotton Candy">
                                        <p class="product-name-sun">Lost Mary<br>Blue Cotton Candy</p>
                                        <p class="product-price-sun">$15</p>
                                        
                                        </div>
                                        <div class="product-item-flex">
                                            
                                            <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Lost_Mary_Strawberry_Ice.jpg?v=1683124299" alt="Lost Mary Strawberry Ice">
                                            <p class="product-name-sun">Lost Mary<br> Strawberry Ice</p>
                                            <p class="product-price-sun">$15</p>
                                           
                                            </div>
                                            <div class="product-item-flex">
                                               
                                                <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Funky_Republic_California_Cherry.jpg?v=1683124299" alt="Funky Republic California Cherry">
                                                <p class="product-name-sun">Funky Republic<br> California Cherry</p>
                                                <p class="product-price-sun">$20</p>
                                            
                                                </div>
                                                <div class="product-item-flex">
                                                 
                                                    <img class="prod-img" src="https://cdn.shopify.com/s/files/1/0743/6343/files/Funky_Republic_pineapple_coconut_ice.jpg?v=1683124299" alt="Funky Republic Pineapple Coconut">
                                                    <p class="product-name-sun">Funky Republic<br>Pineapple Coconut</p>
                                                    <p class="product-price-sun">$20</p>
                                                    
                                                    </div>
    </div>
</div>
   <div class="team-flex">
   <div class="fulfillment-bg">
   
   </div>
  <div class="gradient-bg-sun">
    <div class="inner-gradient-flex">
   <h2 style="color:white;">WORK WITH US</h2>
   <p>Interested in a job or career at White Horse Vapor send your resume to hr@whitehorsevapor.com</p>
    </div>
  </div>
</div>
    </section>
    
    <script>
    $(window).on('load', function() {
        var windowWidth = $(window).width();
    if (windowWidth > 768) {
        var height;
    $('.item-420').each(function(i) {
    if (i === 1) {
       height = $(this).height();
    }
    });
    // after we get the height of the second item, we need to set the first to match
    $('.item-420').eq(0).height(height + 100);
    }
    });
    </script>
    