<section class="page">
  <div class="wrapper">
    <h1 style="text-align:center;">{{ page.title }}</h1>
    <h2 style="text-align: center;color:#024bad;font-size:22px;">
      "The most dangerous part about smoking is the inhalation of smoke."
    </h2>
    <!--
      <video class="about-us-video" autoplay muted playsinline controls="controls" poster="https://cdn.shopify.com/s/files/1/0743/6343/files/clouds.jpg?v=1688085068">
        <source src="https://cdn.shopify.com/videos/c/o/v/63abab1cd30c47bd8b9e5e31cd0b3279.mp4" type="video/mp4"></video>

      <video class="about-us-video" controls="controls" poster="https://cdn.shopify.com/s/files/1/0743/6343/files/24_White_Horse_Vape_-_It_s_time_to_fight_back_2_1.jpg?v=1665223778">
        <source src="https://cdn.shopify.com/videos/c/o/v/b450f55f971348eda73ae55e07e302b3.mp4" type="video/mp4"></video>
    -->

    <script src="https://fast.wistia.com/embed/medias/fql1ypyd28.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div
          class="wistia_embed wistia_async_fql1ypyd28 seo=true videoFoam=true"
          style="height:100%;position:relative;width:100%"
        >
          <div
            class="wistia_swatch"
            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"
          >
            <img
              src="https://fast.wistia.com/embed/medias/fql1ypyd28/swatch"
              style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
              alt=""
              aria-hidden="true"
              onload="this.parentNode.style.opacity=1;"
            >
          </div>
        </div>
      </div>
    </div>


    <div class="content-container contact rte">
      <div class="featured-row section-standard" data-section-type="featured-row-section">
        <div class="contain-site-width">
          <div class="wrapper">
            <h3 class="blue-heading">The White Horse Vapor Philosophy</h3>
            <div class="rte">
              <div class="smaller-quote-item">
                <p>
                  Is to transition cigarette smokers into vaping as a more sensible alternative to inhaling Hazardous
                  Smoke. We know how difficult it is to stop smoking cigarettes, but do not worry...you are not alone
                  anymore.
                </p>
                <p>
                  There is tons of substantiated evidence that vaping is much less harmful than smoking those nasty
                  cigarettes, and you can stop smelling like an ashtray too!
                </p>
                <p>
                  Ultimately we are pleased to offer you the best, most popular vape products on the market today from
                  our vast inventory. We deliver vapor, not smoke, and guarantee your satisfaction from start to finish.
                </p>
                <p>
                  All members of the WHV team are former cigarette smokers and are now enjoying a smoke-free life thanks
                  to this modern-day smoke-free alternative! We are always available to assist you on your tobacco-free
                  journey, so do not hesitate to reach out to us anytime at
                  <a href="mailto:help@vapewh.com">help@vapewh.com</a>.
                </p>
                <br>
                <a class="aboutusbtn" href="https://vapewh.com/collections/all-disposable-e-cigs">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="shopify-section-25a93d81-20f4-420a-98a3-c51c88ed624d" class="shopify-section featured-row-section">
    <div
      class="featured-row section-standard "
      data-section-id="25a93d81-20f4-420a-98a3-c51c88ed624d"
      data-section-type="featured-row-section"
    >
      <div class="contain-site-width ">
        <div class="wrapper">
          <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right feature-row__text--align__left">
              <h3>
                THE WHITE HORSE <br>
                VAPOR DIFFERENCE
              </h3>

              <div class="rte">
                <p>
                  Health and wellness might not be the first thing you think of when you picture vape shops, but we
                  envision a better world where people can enjoy a satisfying nicotine kick without endangering their
                  health. According to the CDC, “<a
                    href="https://www.cdc.gov/tobacco/data_statistics/fact_sheets/health_effects/effects_cig_smoking/index.htm#:~:text=Cigarette%20smoking%20causes%20more%20than%20480%2C000%20deaths%20each%20year%20in%20the%20United%20States.%20This%20is%20nearly%20one%20in%20five%20deaths.1%2C2%2C3"
                    target="_blank"
                    title="https://www.cdc.gov/tobacco/data_statistics/fact_sheets/health_effects/effects_cig_smoking/index.htm#:~:text=Cigarette%20smoking%20causes%20more%20than%20480%2C000%20deaths%20each%20year%20in%20the%20United%20States.%20This%20is%20nearly%20one%20in%20five%20deaths.1%2C2%2C3"
                    >Cigarette smoking causes more than 480,000 deaths each year in the United States. This is nearly
                    one in five deaths.</a
                  >”
                </p>
                <p>
                  Unfortunately, for smokers trying to quit, the outlook is grim, with only 3% - 5% of people actually
                  able to kick the habit. At White Horse Vapor, we identified challenges to be solved where other people
                  saw only problems. The real issue with nicotine patches, gum, lozenges and all those other products is
                  that they don’t work to address and solve the real problem.
                </p>
                <p>
                  Here’s the thing, habits have psychological and physical components. Our vapes offer that same
                  experience of smoking and getting the nicotine, but without the toxic cloud of smoke. Tobacco
                  cigarettes release over 7,000 toxic chemicals, many of which cause cancer. Our commitment to quality
                  and your health means we deliver an outstanding product that can help you switch out your smoking
                  habit for a more effective, less harmful vaping experience.
                </p>
                <p>
                  <br>
                  At White Horse Vapor, we know you’re looking for the highest quality products that work well and taste
                  great - because that’s what we want too. If you're new to vaping, disposable vapes are convenient,
                  rechargeable vaping devices that fit in your pocket and let you puff anywhere you want, on the go. We
                  offer the full product lines from: <strong>Elf Bar, RAZ, Geek Bar Pulse, </strong>and more.
                </p>
              </div>
            </div>

            <div class="feature-row__item feature-row__image">
              <div
                class="card__image-wrapper bg"
                style="padding-top:26.05140186915888%;background-image:url(//vapewh.com/cdn/shop/files/All_Products_grande.jpg?v=1721148760)"
              >
                <div class="inner-card-div">
                  <h3 class="card-heading">ALL PRODUCTS</h3>

                  <a href="/collections/all-disposable-e-cigs" class="button outline card-image-button"> SHOP NOW </a>
                </div>
              </div>

              <div
                class="card__image-wrapper bg two"
                style="padding-top:26.05140186915888%;background-image:url(//vapewh.com/cdn/shop/files/Staff_Favorites_grande.jpg?v=1721148772)"
              >
                <div class="inner-card-div">
                  <h3 class="card-heading">STAFF FAVORITES</h3>

                  <a href="/collections/staff-favorites" class="button outline card-image-button"> SHOP NOW </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
